{% extends 'teacher_panel/base_teacher_panel.html' %}

{% block content %}
    <p>
        <label for="id_owner">Выполнил:</label>
        <text  id="id_owner">
        {{ solution.user.last_name }} {{ solution.user.first_name }} {{ solution.user.patronymic }}
        </text>
    </p>
    <p>
        <label for="id_text">Текст ответа:</label>
        <text  id="id_text">
        {{ solution.text }}
        </text>
    </p>
    {% if solution.file %}
    <p>
        <label for="id_file">Прикреаленный файл:</label>
        <a href="/media/{{ solution.file }}" id="id_file" download>
            Скачать
        </a>
    </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
    <p>
        <label for="id_comment">Комментарий:</label>
        <p><textarea name="comment" cols="40" rows="10" maxlength="1000" id="id_comment">{{ solution.comment }}</textarea></p>
    </p>
            <input name="accept" type="submit" class="btn btn-success" value="Принять">
            <input name="reject" type="submit" class="btn btn-danger" value="Отклонить">
            <button class="btn btn-outline-secondary">Отмена</button>

    </form>



{% endblock %}