{% extends 'teacher_panel/base_teacher_panel.html' %}

{% block content %}
{% if message %}

<div class="alert alert-primary" role="alert">
    {{ message }}
</div>

{% endif %}

{% for user in users %}
    <a href="{% url 'teacher_panel:check_users_details' user.id %}" class="text-decoration-none text-reset">
        <h2>
            {{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}
        </h2>
    </a>
{% endfor %}

    <a href="{% url 'teacher_panel:general_page' %}"><button class="btn btn-outline-secondary">Назад</button></a>

{% endblock %}