<head>
    {% load static %}
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/users/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
{% load static %}

<main class="form-signin">
  <form method="post">
      {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

    <div class="form-floating">
      <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Электронная почта</label>
    </div>
    <div class="form-floating mt-1">
      <input name="last_name" type="text" class="form-control" id="floating1" placeholder="Фамилия">
      <label for="floating1">Фамилия</label>
    </div>
    <div class="form-floating">
      <input name="first_name" type="text" class="form-control" id="floating2" placeholder="Имя">
      <label for="floating2">Имя</label>
    </div>
    <div class="form-floating">
      <input name="patronymic" type="text" class="form-control" id="floating3" placeholder="Отчество">
      <label for="floating3">Отчество</label>
    </div>
    <div class="form-floating mt-1">
      <input type="password" name="password1" class="form-control" id="floatingPassword1" placeholder="Password">
      <label for="floatingPassword1">Пароль</label>
    </div>
      <div class="form-floating">
      <input type="password" name="password2" class="form-control" id="floatingPassword2" placeholder="Password">
      <label for="floatingPassword2">Повторите пароль</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
      <a href="{% url 'users:loginuser' %}" style="text-decoration: none;">Войти</a>
  </form>
</main>

<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>