{% extends 'navigation/base.html' %}
{% block head %}
{% load static %}
    <!-- Custom styles for this template -->
    <link href="/static/navigation/css/carousel.css" rel="stylesheet">

<!--  для карусели курсов-->
<!--<link rel="stylesheet" href="https://bootstraptema.ru/plugins/bootstrap/v3/3-3-6/bootstrap3.css" />-->
<link rel="stylesheet" href="/static/navigation/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/navigation/css/owl.carousel.min.css"/>
<script src="/static/navigation/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/navigation/js/owl.carousel.min.js"></script>
{% endblock %}
{% block content %}
<!--<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">-->



    <!-- Custom styles for this template -->
    <link href="/static/navigation/css/carousel.css" rel="stylesheet">

  <link href="/static/navigation/css/course_carousel.css" rel="stylesheet">


  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
<!--      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>-->
    </div>
    <div class="carousel-inner">


      <div class="carousel-item active">
        <img src="https://cdn.pixabay.com/photo/2016/11/29/04/54/photographer-1867417_960_720.jpg" class="bd-placeholder-img img-fluid" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>

        <<div class="container">
          <div class="carousel-caption text-end">
            <h1>Начни бесплатноое обучение прямо сейчас!</h1>
            <p>Бесплатные онлайн-курсы тех кто хочет хорошо фотографировать</p>
            <p><a class="btn btn-lg btn-primary" href="#">Начать обучение</a></p>
          </div>
        </div>
      </div>


      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2018/09/12/12/14/man-3672010_960_720.jpg" class="bd-placeholder-img img-fluid" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Начни бесплатноое обучение прямо сейчас!</h1>
            <p>Бесплатные онлайн-курсы тех кто хочет хорошо фотографировать</p>
            <p><a class="btn btn-lg btn-primary" href="#">Начать обучение</a></p>
          </div>
        </div>
      </div>



    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--скрипт для карусели с курсами-->
<script>
 $(document).ready(function() {
         $("#news-slider").owlCarousel({
                 items:3,
                 itemsDesktop:[1199,3],
                 itemsDesktopSmall:[1000,2],
                 itemsMobile:[650,1],
                 pagination:false,
                 navigationText:false,
                 autoPlay:true
         });
 });
</script>



  <div class="container">
 <div class="row">
 <div class="col-md-12">

 <div id="news-slider" class="owl-carousel">

    <div class="post-slide">
        <div class="post-img">
            <img src="https://bootstraptema.ru/img/md/1920x1080-jpg/material-design-jpeg-1920x1080-10-.jpg" alt="Bootstrap Blocks Owl Carousel 1"/>

        </div>
        <div class="post-review">
            <h3 class="post-title"><a href="#">Принципы фотокомпозиции и постобработки цифровых изображений</a></h3>
        <p class="post-description">
            Курс по фотографии Мечиганского университета.
        </p>
        <div class="post-bar">
            <span><a href="#"></a></span>
            <span class="comments"> <a href="#">10 уроков</a></span>
        </div>
        </div>
    </div>

 <div class="post-slide">
    <div class="post-img">
        <img src="https://bootstraptema.ru/img/md/1920x1080-jpg/material-design-jpeg-1920x1080-11-.jpg" alt="Bootstrap Blocks Owl Carousel 2"/>

    </div>
    <div class="post-review">
        <h3 class="post-title"><a href="#">Специализация Фотография для начинающих и профи</a></h3>
        <p class="post-description">
            Создавайте фотографии, которыми вы будете с гордостью делиться.
        </p>
        <div class="post-bar">
            <span><a href="#"></a></span>
            <span class="comments"> <a href="#">12 уроков</a></span>
        </div>
    </div>
 </div>

 <div class="post-slide">
    <div class="post-img">
        <img src="https://bootstraptema.ru/img/md/1920x1080-jpg/material-design-jpeg-1920x1080-12-.jpg" alt="Bootstrap Blocks Owl Carousel 3"/>

    </div>
    <div class="post-review">
        <h3 class="post-title"><a href="#">Сдудийная съемка</a></h3>
        <p class="post-description">
            Курс для вех желающих изучить работу студийного фотограф!
        </p>
        <div class="post-bar">
            <span><a href="#"></a></span>
            <span class="comments"> <a href="#">11 уроков</a></span>
        </div>
    </div>
 </div>

 <div class="post-slide">
    <div class="post-img">
        <img src="https://bootstraptema.ru/img/md/1920x1080-jpg/material-design-jpeg-1920x1080-13-.jpg" alt="Bootstrap Blocks Owl Carousel 4"/>

    </div>
    <div class="post-review">
        <h3 class="post-title"><a href="#">Основы фотографии</a></h3>
        <p class="post-description">
            Фундаментальный онлайн-курс с интенсивной программой базовой подготовки фотографа
        </p>
        <div class="post-bar">
            <span><a href="#"></a></span>
            <span class="comments"> <a href="#">10 уроков</a></span>
        </div>
    </div>
 </div>
 </div>
</div><!-- ./col-md-12 -->
</div><!-- ./row -->
</div><!-- ./container -->
<br>
<br>
<br>
{% endblock %}