{% extends 'custom_admin/base_admin.html' %}
{% block head %}
<style>
    input[type=file]::file-selector-button {
    color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

input[type=file]::file-selector-button:hover {
  color: #212529;
}
</style>
{% endblock %}
{% block content %}
<div class="row p-3">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{% url 'custom_admin:general_page' %}" class="text-decoration-none text-reset"><h6>Главная > </h6></a></li>
    <li><a href="{% url 'custom_admin:all_courses' %}" class="text-decoration-none text-reset"><h6>Курсы > </h6></a></li>
    <li><a href="{% url 'custom_admin:details_course' course.id %}" class="text-decoration-none text-reset"><h6>{{ course.name }} > </h6></a></li>
         <li><a href="{% url 'custom_admin:details_module' course.id module.id %}" class="text-decoration-none text-reset"><h6>{{ module.name }} > </h6></a></li>
         <li><a href="#" class="text-decoration-none text-reset"><h6>{{ lesson.name }} > </h6></a></li>

    </ul>
</div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-primary"> Сохранить </button>
</form>

{% endblock %}
